/* GLOBALS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Monterrat, sans-serif;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.header a {
    text-decoration: none;
    color: #111111;
    font-size: 2rem;
}

.menu-items {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-items li a {
    font-size: 1rem;
    padding: 0.5em 1rem;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-items li a:hover {
    background-color: #ccc7d3;
}

/* NAV MENU BUTTON */
.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #111111;
    transition: all 0.5s ease-in-out;
}

.menu-btn__lines::before,
.menu-btn__lines::after {
    content: "";
    position: absolute;
}

.menu-btn__lines::before {
    transform: translateY(-0.5rem);
}

.menu-btn__lines::after {
    transform: translateY(0.5rem);
}

/* ANIMATION */
.menu-btn.open .menu-btn__lines {
    transform: translateX(2rem);
    background-color: transparent;
}

.menu-btn.open .menu-btn__lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: #FFFFFF;
}

.menu-btn.open .menu-btn__lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: #FFFFFF;
}

/*SECTIONS*/
.section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    background-color: #dfdbe5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.hero-col {
    padding: clamp(1rem, 8vw, 5rem);
    max-width: 50%;;
}

.section h1 {
    font-family: "Titillium Web", serif;
    font-size: clamp(60px, 8vw, 200px);
    font-weight: 700;
    line-height: 3vw;
    color: #ccc7d3;
    text-transform: uppercase;
}

.section h2 {
    font-size: clamp(18px, 2.5vw, 60px);
    color: #5a4d70;
    padding-left: 3rem;
    text-transform: uppercase;
}

.section p {
    color: #5a4d70;
    padding-right: 1rem;
}

.hero-section img {
    width: clamp(250px, 30vw, 500px);
}

/*ANOTHER SECTION*/
.another-col {
    width: clamp(300px, 50vw, 600px);
}

/*CUSTOM SHAPE DIVIDER*/
.custom-shape-divider-bottom-1601228679 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1601228679 svg {
    position: relative;
    display: block;
    width: calc(108% + 1.3px);
    height: 141px;
}

.custom-shape-divider-bottom-1601228679 .shape-fill {
    fill: #FFFFFF;
}

/*TABLET DEVICES*/
@media (max-width: 1023px) {
    .custom-shape-divider-bottom-1601228679 svg {
        width: calc(200% + 1.3px);
        height: 150px;
    }
    .hero-col {
        max-width: 100%;
        width: clamp(300px, 50vw, 600px);
        padding: 0;
    }
    .hero-img {
        display: none;
    }
}

/*MOBILE DEVICES*/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1601228679 svg {
        width: calc(108% + 1.3px);
        height: 75px;
    }   
    .header a {
        font-size: 1rem;
    }
    .menu-btn {
        display: flex;
    }
    .menu-items {
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateX(100vw);
        background-color: #5a4d70;
        transition: transform 0.3s ease-in-out;
    }
    .menu-items.open {
        transform: translateX(0);
    }
    .menu-items li {
        width: 100vw;
        height: 100%;
    }
    .menu-items li a {
        color: #FFFFFF;
        font-size: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .menu-items li a:hover {
        color: #111111;
    }
}